

h1 {
  font-size: 200%;
}

hr
{
	border-top: 5px double;
}

a:visited
{
  color: Black;
}

.carousel-caption h3{
  color: White;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);

}

.pageContent {
  overflow: auto;
}

footer
{
  color: green;
  <p> apples are good </p>
}

body
{
	font-family: Arial, Helvetica, sans-serif;
  /* beige-greay first attempt 169 */
	/* background-color: rgb(120, 120, 120) !important; */
  	/* background-color: rgb(255, 0, 0) !important; */
    background: linear-gradient(to right,
      rgb(130, 0, 0) 12%,
      grey 12%,
      grey 88%,
      rgb(130, 0, 0) 88%,
      rgb(130, 0, 0) 100%
      );
}

            /* Dropdown button, hover button, list color, list hover */
.btn {
  color: white;
  background: #333;
}

.btn:hover {
  color: rgb(181, 0, 0) !important;
}

.dropdown-menu {
  background-color: #344 !important;
}

.dropdown-menu a{
  color: white !important;
  background-color: #344 !important;
}

.dropdown-menu a:hover{
  color: rgb(181, 0, 0) !important;
  background-color: #344 !important;
}

              /* NavBar color, hover color, and background */
.navbar {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(181, 0, 0);
}
