

h1 {
  font-size: 200%;
}

hr
{
	border-top: 5px double;
}

a:visited
{
  color: Black;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
  /* beige-greay first attempt 169 */
	background-color: rgb(120, 120, 120) !important;
}
